<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suit.interfaces.dao.ParamsMapper">
    <resultMap id="BaseResultMap" type="com.suit.interfaces.entity.InterfaceParams">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="interface_id" jdbcType="BIGINT" property="interfaceId" />
        <result column="describes" jdbcType="VARCHAR" property="describes" />
        <result column="params_info" jdbcType="VARCHAR" property="paramsInfo" />
    </resultMap>
    <sql id="Base_Column_List">
        id, interface_id, describes, params_info, intendedResult
    </sql>
    <insert id="insertByParams" parameterType="com.suit.interfaces.entity.InterfaceParams">
        insert into interface_params
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="interfaceId != null">
                interface_id,
            </if>
            <if test="describes != null">
                describes,
            </if>
            <if test="paramsInfo != null">
                params_info,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="interfaceId != null">
                #{interfaceId,jdbcType=BIGINT},
            </if>
            <if test="describes != null">
                #{describes,jdbcType=VARCHAR},
            </if>
            <if test="paramsInfo != null">
                #{paramsInfo,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <delete id="deleteByParams" parameterType="java.lang.Integer">
        delete from interface_params
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <update id="updateByParams" parameterType="com.suit.interfaces.entity.InterfaceParams">
        update interface_params
        <set>
            <if test="interfaceId != null">
                interface_id = #{interfaceId,jdbcType=BIGINT},
            </if>
            <if test="describes != null">
                describes = #{describes,jdbcType=VARCHAR},
            </if>
            <if test="paramsInfo != null">
                params_info = #{paramsInfo,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByParamsList"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from interface_params
        where interface_id = #{interface_id,jdbcType=BIGINT}
    </select>
    <select id="selectByParamsInfoList"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
            params_info
        from interface_params
        where interface_id = #{interface_id,jdbcType=BIGINT}
    </select>
    <select id="selectByParamsInfo"  parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
            interface_id,params_info
        from interface_params
        where id = #{id,jdbcType=BIGINT}
    </select>
</mapper>