<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suit.interfaces.dao.TestSuitMapper">
    <resultMap id="BaseResultMap" type="com.suit.interfaces.entity.TestSuit">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="suit_name" jdbcType="VARCHAR" property="suitName" />
        <result column="business_type" jdbcType="VARCHAR" property="businessType" />
        <result column="describes" jdbcType="VARCHAR" property="describes" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    </resultMap>
    <sql id="Base_Column_List">
        id, suit_name, business_type, describes, create_time, update_time
    </sql>
<!--    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from mall_city_center
        where id = #{id,jdbcType=BIGINT}
    </delete>-->
    <select id="selectBySuitName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from test_suit
        where suit_name = #{suitName,jdbcType=VARCHAR}
    </select>
    <insert id="insertSelective" parameterType="com.suit.interfaces.entity.TestSuit">
        insert into test_suit
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="suitName != null">
                suit_name,
            </if>
            <if test="businessType != null">
                business_type,
            </if>
            <if test="describes != null">
                describes,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="suitName != null">
                #{suitName,jdbcType=VARCHAR},
            </if>
            <if test="businessType != null">
                #{businessType,jdbcType=VARCHAR},
            </if>
            <if test="describes != null">
                #{describes,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.suit.interfaces.entity.TestSuit">
        update test_suit
        <set>
            <if test="suitName != null">
                suit_name = #{suitName,jdbcType=VARCHAR},
            </if>
            <if test="businessType != null">
                business_type = #{businessType,jdbcType=VARCHAR},
            </if>
            <if test="describes != null">
                describes = #{describes,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="querySuitItem" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from test_suit
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="suitName != null">
                and suit_name = #{suitName,jdbcType=VARCHAR}
            </if>
            <if test="businessType != null">
                and  business_type = #{businessType,jdbcType=VARCHAR}
            </if>
            <if test="describes != null">
                and describes = #{describes,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                and create_Time = #{createTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
    <select id="selectByBusinessType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from test_suit
        where business_type = #{businessType,jdbcType=VARCHAR}
    </select>
</mapper>